<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="../assets/images/logos/KETABI.png" width="100" alt="" />
      </a>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Pages</span>
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/aboutus"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-star"></i>
            </span>
            <span class="hide-menu">About US</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/homepage"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-home"></i>
            </span>
            <span class="hide-menu">Home Page</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/contactus"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-link"></i>
            </span>
            <span class="hide-menu">Contact US</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">CRUDs</span>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/library"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-crown"></i>
            </span>
            <span class="hide-menu">Libraries</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/category"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-bookmark"></i>
            </span>
            <span class="hide-menu">Categories</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/books"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-book"></i>
            </span>
            <span class="hide-menu">Books</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            routerLink="/admin/author"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-pencil"></i>
            </span>
            <span class="hide-menu">Authors</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Manage</span>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/user"
          >
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Users</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/feedback"
          >
            <span>
              <i class="ti ti-thumb-up"></i>
            </span>
            <span class="hide-menu">Feedback</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/testimonial"
          >
            <span>
              <i class="ti ti-world"></i>
            </span>
            <span class="hide-menu">Testimonial</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/borrowed-books"
          >
            <span>
              <i class="ti ti-truck"></i>
            </span>
            <span class="hide-menu">Borrowed Books</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/offer"
          >
            <span>
              <i class="ti ti-gift"></i>
            </span>
            <span class="hide-menu">Offers</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            aria-expanded="false"
            routerLink="/admin/report"
          >
            <span>
              <i class="ti ti-printer"></i>
            </span>
            <span class="hide-menu">Reports</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
