<!-- Form to create a new "About Us" entry -->
<div class="card">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="aboutUsTitle" class="form-label">Title</label>
        <input
          type="text"
          id="aboutUsTitle"
          #aboutUsTitle
          placeholder="Enter Title"
          class="form-control"
          [defaultValue]="aboutUsData?.title"
        />
      </div>
      <div class="mb-3">
        <label for="aboutUsParagraph" class="form-label">Paragraph</label>
        <textarea
          id="aboutUsParagraph"
          #aboutUsParagraph
          placeholder="Enter Paragraph"
          class="form-control"
          rows="4"
          [defaultValue]="aboutUsData?.paragraph"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="aboutUsImage" class="form-label">Upload Image</label>
        <input
          type="file"
          id="aboutUsImage"
          #aboutUsImage
          accept="image/*"
          class="form-control"
        />
      </div>
      <button
        type="button"
        (click)="
          onEditAboutUs({
            aboutusid: 1,
            title: aboutUsTitle.value,
            paragraph: aboutUsParagraph.value,
            aboutUsImageFile: aboutUsImage?.files?.[0],
          })
        "
        class="btn btn-primary"
      >
        Edit About Us
      </button>
    </form>
  </div>
</div>
