<div class="homepage-container">
  <!-- Show loading spinner -->
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Show error message -->
  <div *ngIf="isError" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Display feedback details if loaded -->
  <div *ngIf="!isLoading && !isError" class="card">
    <div class="card-body ">
      <h5 class="card-title text-dark text-center">Feedback Details</h5>

      <div class="mb-3">
        <label class="form-label">Sender Name</label>
        <p class="form-control-plaintext">{{ feedback.sendername }}</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <p class="form-control-plaintext">{{ feedback.email }}</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Title</label>
        <p class="form-control-plaintext">{{ feedback.title }}</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Message</label>
        <p class="form-control-plaintext">{{ feedback.message }}</p>
      </div>

      <div class="mb-3" *ngIf="feedback.status !== 'Replied'">
        <label class="form-label">Reply</label>
        <textarea
          id="reply"
          placeholder="Enter your reply here"
          class="form-control fixed-size-textarea"
          rows="4"
          [cols]="6"
          [(ngModel)]="emailReplyBody"
        ></textarea>
      </div>

      <div style="display: flex; justify-content: end; gap: 4px">
        <button
          *ngIf="feedback.status !== 'Replied'"
          type="button"
          (click)="onSendReply()"
          class="btn btn-primary"
        >
          Send Reply
        </button>
        <a type="button" class="btn btn-primary" routerLink="/admin/feedback">
          Go Back
        </a>
      </div>
    </div>
  </div>
</div>
