<div class="row">
  <div class="d-flex align-items-stretch">
    <div class="card w-100">
      <div style="display: flex; width: full; justify-content: start">
        <button
          type="button"
          class="btn btn-primary m-1"
          (click)="onFilterChange('')"
        >
          All
        </button>
        <button
          type="button"
          class="btn btn-primary m-1"
          (click)="onFilterChange('Pending')"
        >
          Pending
        </button>
        <button
          type="button"
          class="btn btn-primary m-1"
          (click)="onFilterChange('Replied')"
        >
          Replied
        </button>
      </div>
      <div class="card-body p-4">
        <!-- Search input field for filtering feedback by sender email -->
        <div class="mb-3">
          <input
            [(ngModel)]="searchTerm"
            class="form-control"
            type="text"
            placeholder="Search by email"
            aria-placeholder="Search by email"
          />
        </div>

        <h5 class="card-title fw-semibold mb-4">
          {{ filter === "" ? "All" : filter }} Feedback
        </h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Id</h6>
                </th> -->
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Sender Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Email</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Title</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Message</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Status</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let feedback of PendingFeedbackData">
                <!-- <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">{{ feedback.feedbackid }}</h6>
                </td> -->
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ feedback.sendername }}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ feedback.email }}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ feedback.title }}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ feedback.message }}</h6>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ feedback.status }}</h6>
                </td>
                <td class="border-bottom-0">
                  <button
                    [routerLink]="['info/', feedback.feedbackid]"
                    type="button"
                    class="btn btn-primary m-1"
                  >
                    {{
                      feedback.status === "Replied" ? "View" : "View And Reply"
                    }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
