<div class="aboutus-container">
  <!-- Show loading spinner -->
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Show error message -->
  <div *ngIf="isError" class="alert alert-danger text-center">
    {{ errorMessage() }}
  </div>

  <!-- Display form if data is loaded -->
  <div *ngIf="!isLoading && !isError" class="card">
    <div class="card-body">
      <div class="mb-4 text-center">
        <label for="aboutUsTitle" class="form-label h5">Title</label>
        <h1>{{ aboutUsData?.title }}</h1>
      </div>
      <div class="mb-4 text-center">
        <label for="aboutUsImage" class="form-label h5">Image</label>
        <img
          [src]="IMGPATH + aboutUsData?.image"
          alt="About Us Image"
          class="aboutus-image img-fluid"
        />
      </div>
      <div class="mb-3 text-center">
        <label for="aboutUsParagraph" class="form-label h5">Paragraph</label>
        <p>{{ aboutUsData?.paragraph }}</p>
      </div>
    </div>
  </div>
</div>
