<div class="row">
  <div class="d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <!-- Search input field for filtering authors by name -->
        <div class="mb-3">
          <input
            [(ngModel)]="searchTerm"
            class="form-control"
            type="text"
            placeholder="Search by author name"
            aria-placeholder="Search by author name"
          />
        </div>

        <h5 class="card-title fw-semibold mb-4">All Authors</h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Id</h6>
                </th> -->
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Image</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Bio</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let author of AuthorsData">
                <!-- <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">{{ author.authorid }}</h6>
                </td> -->
                <td class="border-bottom-0">
                  <img
                    [src]="IMGPATH + author.image"
                    alt="Author Image"
                    class="author-image img-fluid"
                  />
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ author.authorname }}</h6>
                </td>
                <td class="border-bottom-0" style="max-width: 300px; max-x; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                  <p class="mb-0 fw-normal">{{ author.bio }}</p>
                </td>                

                <td class="border-bottom-0" style="display: flex; gap: 6px">
                  <button
                    class="btn btn-primary"
                    [routerLink]="['/admin/author/edit', author.authorid]"
                  >
                    Edit
                  </button>
                  <button
                    (click)="onDeleteAuthor(author.authorid)"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
